.btn-ghost {
  color: #4A4A4A;
  border: 1px solid var(--blue);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.player-btn:hover {
  background-color: aqua;
}

.admin-btn {
  display: flex;
  float: right;
}
