/* #album-container */
.album-cover {
    width: 164px;
    border-radius: var(--s);
}
.album-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    border: rgba(var(--dark-blue), .5) 1px solid;
    border-radius: var(--s);

    width: 164px;
    height: 246px;
}
.album-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 164px;
    height: 66px;
}
.album-content.album-title {
    font-weight: bold;
}

.album-page-card {
    display: flex;
    align-items: flex-end;
    padding: 16px;
    gap: 16px;
    border: rgba(var(--dark-blue), .5) 1px solid;
    border-radius: var(--s);
}
.album-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}


/* #songs-list */
.display-all-songs {
    margin-top: var(--ms);
}

.song-info {
    display: flex;
    align-items: center;
    gap: var(--m);
    padding: var(--ms);
}

.song-info:hover {
    /* background-color: rgba(var(--light-blue),0.4); */
    background: #e2f5ff;
    background: #e2f5ff54;
    border-radius: 8px;

}
.song-info:hover img {
    border-radius: 50%;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.album-cover-thumb {
    width: 40px;
}

