body {
    /* background-color: #123456; */
    background-color: var(--main-bg-color);
}

.page-navbar {
    margin-bottom: 24px;
}
.page-navbar__title {
   font-weight: bolder;
   margin-bottom: 24px;
}
/** main-container **/
.main-container {
    padding-bottom: 56px; /* because of the footer-player height */

}
/** album-container **/
.albums-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 24px;
    border-bottom: 1px solid black;  /* to see where am i  */
   
}
.album-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    border: rgba(var(--dark-blue), .5) 1px solid;
    border-radius: var(--br-sm);

    width: 164px;
    height: 246px;
}
.album-cover {
    width: 164px;
    border-radius: var(--br-sm);
}

.album-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 164px;
    height: 66px;
}
.album-content.album-title {
    color: black;
    font-weight: bold;

    
}
