body {
    /* background-color: #123456; */
    background-color: var(--main-bg-color);
}

.page-sidebar {
    margin-bottom: 24px;
}
.page-sidebar__title {
   font-weight: bolder;
   margin-bottom: 24px;
}

/* .container {
    margin-top: 24px;
}

.theSongList {
    margin-top: 4px;
} */
