body {
    /* background-color: #123456; */
    background-color: var(--main-bg-color);
}

.flex-container {
    display:flex;
}

.full-container {
    width: 100%;
}

/** main-container **/
#main-container {
    margin: 0 var(--ms);
    padding-bottom: var(--footer-height); /* because of the footer-player height */

}

/** header */
.header {
    padding: var(--l);
}

/** album-container **/
.albums-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 24px;   
}
.horizontal-line-separator {
    border-bottom: 1px solid var(--white); 
}

.vertical-line-separator {
    border-right: 1px solid var(--white);  
}

