#drag-and-drop {
    display: flex;
    justify-content: center;
    text-align: center;
}

#drag-and-drop-container {
    width: 50vw;
    height: 50vw;
    border: 1px dashed var(--dark-blue);
}

#drag-and-drop-container:hover {
    background-color: var(--yellow);
}

.drag-and-drop-title {
    margin-top: 24px;
}
