.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 240px;
}

.input-search-bar:focus-visible {
    outline-color: var(--navy-blue);
}

.hide {
    display: none;
}